<!doctype html>
<html lang="en">
<head>
    <title><%= node.attributes['_name'].value %></title>
</head>
<body>
<h1><%= node.attributes['_name'].value %></h1>
<table>
    <thead></thead>
</table>
</body>
</html>